# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Project Specific
dataset/
ImprovedPremiumGAN/checkpoints/
ImprovedPremiumGAN/results/
evaluate/

# System
.DS_Store
Thumbs.db
